@model WebShop.Models.Page

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">

    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminPages" asp-action="Index">Danh sách page</a>
            <span class="breadcrumb-item active">Thông tin sản phẩm</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông tin sản phẩm: @Model.PageName</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>Mã trang(Pages):</td>
                        <td class="text-dark font-weight-semibold">@Model.PageName</td>
                    </tr>
                    <tr>
                        <td>Tên trang(Pages):</td>
                        <td>@Model.PageName</td>
                    </tr>
                    @*<tr>
                        <td>Nội dung:</td>
                        <td>@Model.Contents</td>
                    </tr>*@
                    <tr>
                        <td>Trạng thái:</td>
                        <td>@Model.Published</td>
                    </tr>
                   @* <tr>
                        <td>Title:</td>
                        <td>@Model.Title</td>
                    </tr>*@

                    @*<tr>
                        <td>Ngày tạo:</td>
                        <td>@Model.CreatedDate</td>
                    </tr>*@
                    @*<tr>
                        <td>Ordering:</td>
                        <td>@Model.Ordering</td>
                    </tr>*@
                   @* <tr>
                        <td>Tiêu đề:</td>
                        <td>@Model.Title</td>
                    </tr>*@
                    @*<tr>
                        <td>MetaDesc:</td>
                        <td>@Model.MetaDesc</td>
                    </tr>
                    <tr>
                        <td>MetaKey:</td>
                        <td>@Model.MetaKey</td>
                    </tr>*@

                    <tr>
                        <td>Ảnh đại diện:</td>
                        <td>
                            <img width="200px" height="200px" src="~/images/pages/@Model.Thumb" alt="@Model.Title" />
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="text-left">
    <a class="btn btn-primary btn-sm" asp-action="Index"><i class="fas fa-undo m-r-5 fa-lg"></i>Quay lại</a>
</div>

