@model WebShop.Models.Customer

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Order> DanhSachDonHang = ViewBag.DonHang;
    WebShop.ModelViews.ChangePasswordViewModel changePassword = new WebShop.ModelViews.ChangePasswordViewModel();
}
<!-- Begin Main Content Area -->
<main class="main-content">
    @*<div class="breadcrumb-area breadcrumb-height" data-bg-image="~/assets/images/slider/bg/slide2.jpg">
        <div class="container h-100">
            <img class="img-fluid"
                 width="auto" height="200" src="~/assets/images/slider/bg/baner2.png" />
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <br />
    <div class="card">
        <div class="card-body" style="background-color:#FAEAEA">
        </div>
    </div>
    <div class="account-page-area section-space-y-axis-100 mt-5 mb-5">
        <div class="container">
            <div class="card">
                <div class="card-body" style="background-color:#FAEAEA">
                    <div class="row">
                        <div class="col-sm-3">
                            <ul class=" list-group nav myaccount-tab-trigger" id="account-page-tab" role="tablist">
                                <li class="  nav-item">
                                    <a class="list-group-item active" id="account-dashboard-tab" data-bs-toggle="tab" href="#account-dashboard" role="tab" aria-controls="account-dashboard" aria-selected="true">Thông tin tài khoản</a>
                                </li>
                                <li class="  nav-item">
                                    <a class="list-group-item" id="account-orders-tab" data-bs-toggle="tab" href="#account-orders" role="tab" aria-controls="account-orders" aria-selected="false">Danh sách đơn hàng</a>
                                </li>

                                <li class="  nav-item">
                                    <a class="list-group-item" id="account-details-tab" data-bs-toggle="tab" href="#account-details" role="tab" aria-controls="account-details" aria-selected="false">Thay đổi mật khẩu</a>
                                </li>
                                <li class=" list-group-item nav-item">
                                    <a class=" text-center list-group-item" id="account-logout-tab" href="/dang-xuat.html" role="tab" aria-selected="false">Đăng xuất</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-9">
                            <div class="tab-content myaccount-tab-content" id="account-page-tab-content">
                                <div class="tab-pane fade show active" id="account-dashboard" role="tabpanel" aria-labelledby="account-dashboard-tab">
                                    <div class="myaccount-dashboard">
                                        <h4 class="small-title text-center">Thông tin cá bản</h4>
                                        <hr />
                                        <p>
                                            <b>Xin chào,</b> <b>@Model.FullName.</b>
                                        </p>
                                        <br />
                                        <p>
                                            <b>Email:</b> @Model.Email.
                                        </p>
                                        <br />
                                        <p>
                                            <b>Số điện thoại:</b> @Model.Phone.
                                        </p>
                                        <br />
                                        <p>
                                            <b>Đại chỉ</b>: @Model.Address.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="account-orders" role="tabpanel" aria-labelledby="account-orders-tab">
                                    <div class="myaccount-orders">
                                        <h4 class="small-title text-center">Danh sách đơn hàng</h4>
                                        <hr />
                                        @*@if (DanhSachDonHang != null && DanhSachDonHang.Count() > 0)
                                        {
                                        <div class="table-responsive">
                                        <table class="table table-bordered table-hover">

                                        <tbody>
                                        @if (Model != null)
                                        {
                                        foreach (var item in DanhSachDonHang)
                                        {
                                        <tr>

                                        <td>
                                        <a class="account-order-id" href="javascript:void(0)">@item.OrderId</a>

                                        </td>
                                        <td>
                                        @item.OrderDate

                                        </td>

                                        <td>
                                        @item.TransactStatus.Status

                                        </td>
                                        <td>
                                        @item.TotalMoney.Value.ToString("#,##0") VND

                                        </td>

                                        <td>
                                        <a class="xemdonhang" href="javascript:void(0)">@item.OrderDetails</a>

                                        </td>

                                        </tr>
                                        }
                                        }


                                        </tbody>
                                        </table>

                                        </div>
                                        }*@
                                        @await Html.PartialAsync("_DonhangPartialView", DanhSachDonHang)
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="account-address" role="tabpanel" aria-labelledby="account-address-tab">
                                    <div class="myaccount-address">
                                        <p>The following addresses will be used on the checkout page by default.</p>
                                        <div class="row">
                                            <div class="col">
                                                <h4 class="small-title">BILLING ADDRESS</h4>
                                                <address>
                                                    @Model.Address
                                                </address>
                                            </div>
                                            <div class="col">
                                                <h4 class="small-title">SHIPPING ADDRESS</h4>
                                                <address>
                                                    @Model.Address
                                                </address>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="account-details" role="tabpanel" aria-labelledby="account-details-tab">
                                    @await Html.PartialAsync("_ChangePasswordPartialView", changePassword)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br />
</main>
<!-- Main Content Area End Here -->
@section Scripts{
    <script>
        $(document).ready(function () {
            $(".xemdonhang").click(function () {
                var madonhang = $(this).attr("data-madonhang")
                $.ajax({
                    url: '/DonHang/Details',
                    dataType: "json",
                    type: "POST",
                    data: { id: madonhang },
                    async: true,
                    success: function (results) {
                        $("#record_table").html("");
                        $("#record_table").html("results");
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
        });
    </script>
}
