@model IEnumerable<WebShop.Models.Account>
@{
    int index = 1;
}
@{
    ViewData["Title"] = "Phân Quyền Tài Khoản Hệ Thống";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">

    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            @*<a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminAccounts" asp-action="Index">Danh sách tài khoản</a>*@

            <span class="breadcrumb-item active">Danh sách tài khoản</span>
        </nav>
    </div>
</div>
<div class="card" style="background-color:#FFF0F5">
    <div class="card-body">
        <h2 class="text-center">Danh sách nhân viên</h2>
        <div class="row m-b-30">
            <div class="col-lg-8">
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>

                        <th>STT</th>
                        <th>Họ tên</th>
                        <th>Tên đăng nhập</th>
                        <th>Điệnthoại</th>
                        <th>Lần đăng nhập cuối</th>
                        <th>Thao tác</th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @index
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid rounded" src="assets/images/others/thumb-9.jpg" style="max-width: 60px" alt="">
                                        <h6 class="m-b-0 m-l-10">@item.FullName</h6>
                                    </div>
                                </td>
                                <td>@item.Email</td>
                                <td>@item.Phone</td>
                                <td>@item.LastLogin</td>
                                <td>
                                    <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminPhanQuyenAccount" asp-action="Details" asp-route-id="@item.AccountId"><i class="far fa-eye m-r-5 fa-lg"></i>Xem</a>
                                    <a class="btn btn-secondary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminPhanQuyenAccount" asp-action="Edit" asp-route-id="@item.AccountId"><i class="fas fa-user-tag m-r-5 fa-lg"></i>Phân quyền</a>

                                </td>

                            </tr>
                            index = index + 1;
                        }
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>
