@model WebShop.Models.Order

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">

    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminCategories" asp-action="Index">Danh sách đơn hàng</a>
            <span class="breadcrumb-item active">Thông tin đơn hàng: @*@Model.CatName*@</span>
        </nav>
    </div>
</div>

<div class="card" >
    <div class="card-body">
        <div class="teble-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>Mã khách hàng:</td>
                        <td class="text-dark font-weight-semibold">@Model.CustomerId</td>
                    </tr>
                    <tr>
                        <td>Mã đơn hàng</td>
                        <td>@Model.OrderId</td>
                    </tr>
                    <tr>
                        <td>Địa chỉ:</td>
                        <td>@Model.Address</td>
                    </tr>
                    <tr>
                        <td>Ngày mua hàng</td>
                        <td>@Model.OrderDate</td>
                    </tr>
                    <tr>
                        <td>Ngày giao hàng</td>
                        <td>@Model.ShipDate</td>
                    </tr>
                    <tr>
                        <td>Ngày thanh toán</td>
                        <td>@Model.PaymentDate</td>
                    </tr>
                    <tr>
                        <td>Trạng thái đơn hàng</td>
                        <td>@Model.TransactStatusId</td>
                    </tr>
                    <tr>
                        <td>Tổng tiền</td>
                        <td>@Model.TotalMoney.Value.ToString("#,##0") VND</td>
                    </tr>
                    
                    <tr>
                        <td>Xác nhận xóa</td>
                        <td>
                            <form asp-controller="AdminOrders" asp-action="Delete" asp-route-id="@Model.OrderId">
                                <input type="hidden" asp-for="OrderId" />
                                @*<input type="submit" value="Xác nhận xóa" class="btn btn-danger" />*@
                                <button type="submit" class="btn btn-danger btn-tone"><i class="far fa-trash-alt m-r-5 fa-lg"></i>Xác nhận xóa</button>
                                |
                                <a class="btn btn-success btn-tone m-r-5" asp-action="Index"><i class="fas fa-times m-r-5 fa-lg"></i>Hủy bỏ</a>
                            </form>

                        </td>
                    </tr>
                </tbody>
                
            </table>
        </div>
    </div>
</div>
