@model WebShop.Models.Order

@{
    ViewData["Title"] = "Thông tin đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<OrderDetail> orderDetails = ViewBag.ChiTiet;

}

<!-- Content Wrapper START -->
<div class="main-content">
    <div class="page-header">
        <h2 class="header-title">Chi tiết đơn hàng</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
                <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminOrders" asp-action="Index">Danh sách đơn hàng</a>

            </nav>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div id="invoice" class="p-h-30">
                    <div class="m-t-15 lh-2">
                        <div class="inline-block">
                            <img class="img-fluid" src="assets/images/logo/logo.png" alt="">
                            <address class="p-l-10">
                                <span class="font-weight-semibold text-dark">SHOP MẬT Xinh</span><br>
                                <span>Địa chỉ: Phố Xốm - Hà Nội</span><br>

                                <abbr class="text-dark" title="Phone">Phone:</abbr>
                                <span>0963 - 008 - 274</span>
                            </address>
                        </div>
                        <div class="float-right">
                            <h2>CHI TIẾT ĐƠN HÀNG</h2>
                        </div>
                    </div>
                    <div class="row m-t-20 lh-2">
                        <div class="col-sm-9">
                            <h3 class="p-l-10 m-t-10">Khách hàng:</h3>
                            <address class="p-l-10 m-t-10">
                                <span class="font-weight-semibold text-dark">@Model.Customer.FullName</span><br>
                                <span>Địa chỉ: @Model.Address</span><br>
                                <span>Phone: @Model.Customer.Phone</span>
                            </address>
                        </div>
                        <div class="col-sm-3">
                            <div class="m-t-80">
                                <div class="text-dark text-uppercase d-inline-block">
                                    <span class="font-weight-semibold text-dark">Mã đơn hàng :</span>
                                </div>
                                <div class="float-right">@Model.OrderId</div>
                            </div>
                            <div class="text-dark text-uppercase d-inline-block">
                                <span class="font-weight-semibold text-dark">Ngày mua :</span>
                            </div>
                            <div class="float-right">@Model.OrderDate</div>
                        </div>
                    </div>
                    <div class="m-t-20">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Mã sản phẩm</th>
                                        <th>Số lượng</th>
                                        <th>Đơn giá</th>
                                        <th>Tổng tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (orderDetails != null && orderDetails.Count() > 0)
                                    {
                                        int i = 1;
                                        foreach (var item in orderDetails)
                                        {
                                            string url = "/";
                                            <tr>
                                                <th>@i</th>
                                                <td><a href="#">@item.ProductId</a></td>
                                                <td>@item.Amount</td>
                                                <td>@item.Price.Value.ToString("#,##0") VND</td>
                                                <td>@(item.Amount * item.Price.Value)VND</td>

                                            </tr>
                                            i++;
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                        <div class="row m-t-30 lh-1-8">
                            <div class="col-sm-12">
                                <div class="float-right text-right">

                                    <h3><span class="font-weight-semibold text-dark">Tổng tiền :</span>@Model.TotalMoney.Value.ToString("#,##0") VND</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-30 lh-2">
                            <div class="col-sm-12">
                                <div class="border-bottom p-v-20">
                                    <p class="text-opacity">
                                        <small>
                                            Shop Mật xinh cảm ơn quý khách đã ủng hộ sản phẩm của cửa hàng.
                                        </small>
                                    </p>
                                    <p class="text-opacity">
                                        <small>
                                            Qúy khách khi nhận được hàng hãy quay clip quá trình mở hàng, để phục vụ trong quá trình sản phẩm có
                                            có sự cố để được hỗ trợ. Shop chỉ hỗ trợ đổi trả hàng khi quý khách cung cấp đủ clip mở hàng.
                                            Nếu sản phẩm lỗi, không đúng sản phẩm shop sẵn sàng đổi trả cho khách hàng. Xin hãy liên hệ với cửa hàng trước khi đánh giá về sản phẩm.
                                            Mọi thông tin liên lạc xin quý khác liên hệ phía bên dưới.
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row m-v-20">
                            <div class="col-sm-6">
                                <img class="img-fluid text-opacity m-t-5" width="100" src="~/assets/images/logo/logoadmin.jpg" alt="" />
                            </div>
                            <div class="col-sm-6 text-right">
                                <small><span class="font-weight-semibold text-dark">Phone:</span> 0963 - 008 - 274</small>
                                <br>
                                <small>shopmatxinh@gmail.com</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right">
            <a class="btn btn-primary " asp-action="Index"><i class="fas fa-undo m-r-5 fa-lg"></i>Quay lại</a>
            <button class="btn btn-dark ">In hóa đơn<i class="fas fa-print m-l-5 fa-lg"></i></button>
        </div>

    </div>
</div>
<!-- Content Wrapper END -->
<!-- Footer START -->
