@model WebShop.Models.Account

@{
    ViewData["Title"] = "Thông tin tài khoản" + Model.FullName;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">

    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminAccounts" asp-action="Index">Danh sách tài khoản</a>
            <span class="breadcrumb-item active">Thông tin tài khoản</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông tin tài khoản: @Model.FullName</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td class="text-dark font-weight-semibold">@Model.AccountId</td>
                    </tr>
                    <tr>
                        <td>Họ tên:</td>
                        <td>@Model.FullName</td>
                    </tr>
                    <tr>
                        <td>SĐT:</td>
                        <td>@Model.Phone</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td>@Model.Password</td>
                    </tr>
                    @*<tr>
                    <td>Quyền truy cập:</td>
                    <td>@Model.Role.Description</td>
                    </tr>*@
                    <tr>
                        <td>Lần đăng nhập cuối:</td>
                        <td>@Model.LastLogin</td>
                    </tr>
                    <tr>
                        <td>Ngày tạo:</td>
                        <td>@Model.CreateDate</td>
                    </tr>
                </tbody>
            </table>
        </div>     
    </div>
</div>
<div>
    <a class="btn btn-primary btn-sm" asp-action="Index"><i class="fas fa-undo m-r-5 fa-lg"></i>Quay lại</a>
</div>
